@import "tailwindcss";

@theme {
  --color-neon: #CCFF00;
  --color-darkbg: #050505;
  --color-surface: #121212;
  --color-surfaceLight: #1C1C1C;
  --font-family-sans: "Plus Jakarta Sans", sans-serif;
  --font-family-mono: "Space Grotesk", monospace;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
